<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorLikeFunction</key>
	<string>toolScopeSize</string>
	<key>checklistDespitePlatform</key>
	<string>chapterIncludePrototype</string>
	<key>collectionCompositePressure</key>
	<string>listviewAndMethod</string>
	<key>dropdownbuttonCommandLocation</key>
	<string>accessibleTransitionAlignment</string>
	<key>modelVariableBehavior</key>
	<string>riverpodFrameworkOffset</string>
</dict>
</plist>
