<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorLevelKind</key>
	<string>graphicOrForm</string>
	<key>greatMaterialPressure</key>
	<string>chapterAsOperation</string>
	<key>metadataSinceFlyweight</key>
	<string>immediateAwaitPadding</string>
	<key>progressbarActionVisible</key>
	<string>touchDespiteShape</string>
	<key>radioForLayer</key>
	<string>anchorMethodLocation</string>
	<key>repositoryDespiteTask</key>
	<string>constraintCycleInteraction</string>
	<key>requestStateTransparency</key>
	<string>sensorStateType</string>
	<key>seamlessCharacterVisibility</key>
	<string>alertDecoratorShape</string>
	<key>skinAboutKind</key>
	<string>expandedNearStage</string>
</dict>
</plist>
