<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInTemple</key>
	<string>asynchronousPointScale</string>
	<key>borderActivityCount</key>
	<string>groupContainStructure</string>
	<key>interactiveHandlerBehavior</key>
	<string>asyncMediatorSpeed</string>
	<key>labelFormMode</key>
	<string>nibCycleMomentum</string>
	<key>menuActionHue</key>
	<string>aspectThroughActivity</string>
	<key>reusableTernaryVisibility</key>
	<string>sliderOperationVisible</string>
	<key>secondMaterialBottom</key>
	<string>uniqueCupertinoName</string>
	<key>tappableZoneCount</key>
	<string>bitrateOfActivity</string>
</dict>
</plist>
