<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseUsageAppearance</key>
	<string>webPetHue</string>
	<key>mainListenerPosition</key>
	<string>coordinatorStageLocation</string>
	<key>mediocreSymbolBrightness</key>
	<string>boxVersusFlyweight</string>
	<key>nativeCoordinatorPressure</key>
	<string>eventFacadeTension</string>
	<key>similarNibForce</key>
	<string>significantGiftStyle</string>
	<key>transformerWithPlatform</key>
	<string>requestValueMode</string>
	<key>utilScopeName</key>
	<string>shaderFacadeDelay</string>
</dict>
</plist>
