<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentMasterOrigin</key>
	<string>euclideanSwitchAppearance</string>
	<key>momentumExceptVar</key>
	<string>compositionWithoutType</string>
	<key>movementOutsideChain</key>
	<string>baseVersusValue</string>
	<key>retainedStreamBorder</key>
	<string>accessoryAboutStrategy</string>
</dict>
</plist>
