<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBehaviorTag</key>
	<string>utilAsValue</string>
	<key>channelAboutFunction</key>
	<string>smartSizedboxBottom</string>
	<key>containerPrototypeLeft</key>
	<string>resultLevelTag</string>
	<key>ephemeralSizeOrientation</key>
	<string>customRouteBorder</string>
	<key>logFacadeVisible</key>
	<string>protocolAgainstMethod</string>
	<key>masterViaFacade</key>
	<string>toolDuringSystem</string>
	<key>mediumCompletionPosition</key>
	<string>mediocreStreamLeft</string>
</dict>
</plist>
