<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectOutsideTask</key>
	<string>resizableBatchSaturation</string>
	<key>inkwellWithVisitor</key>
	<string>sinkContainWork</string>
	<key>mediaqueryFunctionTint</key>
	<string>cursorVarRight</string>
	<key>movementInterpreterAppearance</key>
	<string>shaderTypeBottom</string>
	<key>providerWithoutDecorator</key>
	<string>vectorFunctionRate</string>
	<key>sharedBlocOrigin</key>
	<string>coordinatorVersusTask</string>
	<key>textureFrameworkTension</key>
	<string>utilThanSingleton</string>
	<key>viewSinceVisitor</key>
	<string>durationContextPressure</string>
</dict>
</plist>
