<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorWorkLeft</key>
	<string>assetPrototypeVelocity</string>
	<key>equipmentVersusCommand</key>
	<string>interactivePopupState</string>
	<key>immutableSemanticsMomentum</key>
	<string>delegateDuringForm</string>
	<key>immutableTimerShade</key>
	<string>multiEquipmentOpacity</string>
	<key>listviewLikeJob</key>
	<string>decorationUntilShape</string>
	<key>normalGemAlignment</key>
	<string>mutableNibInterval</string>
	<key>offsetAsKind</key>
	<string>axisCycleOrientation</string>
	<key>pinchableMultiplicationType</key>
	<string>specifyCycleBottom</string>
	<key>sequentialTransformerTransparency</key>
	<string>easyAllocatorRate</string>
	<key>smallGradientTint</key>
	<string>animatedGateDistance</string>
</dict>
</plist>
