<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesInStructure</key>
	<string>gestureProxyLeft</string>
	<key>curveUntilParameter</key>
	<string>arithmeticForObserver</string>
	<key>materialCommandAcceleration</key>
	<string>extensionAboutState</string>
	<key>streamProxyLocation</key>
	<string>sizeSystemResponse</string>
</dict>
</plist>
