<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedConsumerInset</key>
	<string>interfaceAdapterOpacity</string>
	<key>asyncVisitorMomentum</key>
	<string>elasticProtocolInterval</string>
	<key>controllerBesidePattern</key>
	<string>ignoredAnimationDepth</string>
	<key>delegateAboutFlyweight</key>
	<string>chapterThroughStructure</string>
	<key>delegateUntilActivity</key>
	<string>reductionVisitorShade</string>
	<key>memberAroundSystem</key>
	<string>usecaseFunctionSaturation</string>
	<key>sensorForTemple</key>
	<string>diversifiedSkinInteraction</string>
	<key>transitionSinceObserver</key>
	<string>adaptiveBulletOrigin</string>
</dict>
</plist>
