<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAllocatorForce</key>
	<string>kernelAdapterRight</string>
	<key>completionOutsideActivity</key>
	<string>draggableLabelSpacing</string>
	<key>durationContainSystem</key>
	<string>backwardStoryboardDensity</string>
	<key>intensityAgainstProcess</key>
	<string>temporaryProjectSpacing</string>
	<key>isolateAgainstAction</key>
	<string>inactiveNotificationCoord</string>
	<key>memberAdapterCount</key>
	<string>significantMatrixOrientation</string>
</dict>
</plist>
