<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationViaProxy</key>
	<string>resultWithMethod</string>
	<key>completionOrShape</key>
	<string>priorTablePadding</string>
	<key>deferredHeapTheme</key>
	<string>playbackInsideParameter</string>
	<key>menuBesideJob</key>
	<string>hyperbolicConstraintPressure</string>
	<key>responseContainLayer</key>
	<string>frameWithTemple</string>
	<key>specifyRectDepth</key>
	<string>injectionStageMomentum</string>
</dict>
</plist>
