<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableChannelOffset</key>
	<string>mediocrePositionedInteraction</string>
	<key>getxDuringTier</key>
	<string>delegateAtFunction</string>
	<key>methodCycleTop</key>
	<string>explicitMissionDepth</string>
	<key>newestAnimatedcontainerPosition</key>
	<string>controllerInsideMode</string>
	<key>parallelIntensityDistance</key>
	<string>variantTaskPressure</string>
	<key>petCycleDelay</key>
	<string>curveDuringMediator</string>
</dict>
</plist>
