<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileContainerTint</key>
	<string>seamlessLoopDistance</string>
	<key>cursorStructureRotation</key>
	<string>nodeEnvironmentBound</string>
	<key>curveOutsidePattern</key>
	<string>containerInsideVariable</string>
	<key>displayableAsyncInteraction</key>
	<string>lastScaleContrast</string>
	<key>easyActionBrightness</key>
	<string>geometricSwitchOffset</string>
	<key>gramExceptTemple</key>
	<string>layoutStructureTop</string>
	<key>imperativeObserverCount</key>
	<string>directlyPlateVelocity</string>
	<key>loopFrameworkAcceleration</key>
	<string>transformerObserverContrast</string>
	<key>robustNodeDirection</key>
	<string>loopAboutFramework</string>
	<key>significantContainerTransparency</key>
	<string>iconAwayOperation</string>
</dict>
</plist>
