<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackMementoDuration</key>
	<string>touchParameterScale</string>
	<key>dependencyLikeObserver</key>
	<string>taskAroundType</string>
	<key>expandedLikeBridge</key>
	<string>permissiveLogarithmSkewy</string>
	<key>labelPatternDepth</key>
	<string>substantialTickerTint</string>
	<key>playbackVisitorFlags</key>
	<string>capsuleFlyweightTheme</string>
	<key>pointObserverVisible</key>
	<string>mediocreEventAcceleration</string>
</dict>
</plist>
