<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveThroughVisitor</key>
	<string>descriptionStageStatus</string>
	<key>dedicatedWidgetState</key>
	<string>modelObserverInteraction</string>
	<key>dynamicReductionHue</key>
	<string>inkwellFromContext</string>
	<key>easyStreamAlignment</key>
	<string>publicSubscriptionName</string>
	<key>functionalSceneBound</key>
	<string>buttonSystemMargin</string>
	<key>inheritedAsyncTheme</key>
	<string>pivotalFactoryAppearance</string>
	<key>persistentPrecisionValidation</key>
	<string>tweenKindTail</string>
	<key>reducerCycleContrast</key>
	<string>widgetInVar</string>
</dict>
</plist>
