<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRemainderPressure</key>
	<string>composableContractionTag</string>
	<key>blocPrototypePressure</key>
	<string>projectionIncludeComposite</string>
	<key>eventAroundObserver</key>
	<string>notificationAtObserver</string>
	<key>nibUntilType</key>
	<string>dependencyThroughParameter</string>
	<key>reactiveSymbolTag</key>
	<string>hyperbolicGrainResponse</string>
	<key>remainderNumberRight</key>
	<string>sceneViaWork</string>
	<key>statefulBesideBuffer</key>
	<string>plateAroundParam</string>
	<key>transitionCommandBorder</key>
	<string>characterActionSaturation</string>
</dict>
</plist>
