<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetStrategyDuration</key>
	<string>textureExceptFunction</string>
	<key>consumerThanStructure</key>
	<string>logarithmNumberFlags</string>
	<key>featureTaskStyle</key>
	<string>draggableRowTheme</string>
	<key>navigatorAdapterBottom</key>
	<string>spotBesideMethod</string>
	<key>sizeJobVelocity</key>
	<string>sizedboxContainCommand</string>
	<key>spotTaskName</key>
	<string>protectedStampRate</string>
	<key>sustainableMenuHue</key>
	<string>chapterProxySpeed</string>
	<key>topicAndState</key>
	<string>visibleLossMode</string>
</dict>
</plist>
