<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAsPlatform</key>
	<string>graphicWithoutProxy</string>
	<key>associatedLocalizationFeedback</key>
	<string>activeTweenValidation</string>
	<key>asyncThanMode</key>
	<string>protocolSingletonFeedback</string>
	<key>completerSinceParameter</key>
	<string>decorationStageMargin</string>
	<key>decorationModeSpacing</key>
	<string>labelJobSkewy</string>
	<key>denseFeatureVisibility</key>
	<string>otherLoopSkewy</string>
	<key>hashMementoMode</key>
	<string>labelThanStrategy</string>
	<key>labelCycleDistance</key>
	<string>routeContainParam</string>
	<key>responsiveChannelShape</key>
	<string>constraintByMemento</string>
	<key>sinkEnvironmentInteraction</key>
	<string>logPerComposite</string>
</dict>
</plist>
