<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>positionWithValue</key>
	<string>tweenCompositeSaturation</string>
	<key>rowFrameworkScale</key>
	<string>loopForMediator</string>
	<key>similarZoneBehavior</key>
	<string>interfacePerPlatform</string>
	<key>sineThanMediator</key>
	<string>techniqueObserverOrigin</string>
	<key>viewStateRate</key>
	<string>projectMediatorAppearance</string>
</dict>
</plist>
