<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonOperationTransparency</key>
	<string>directBufferType</string>
	<key>graphicPhaseTension</key>
	<string>aspectratioParamVelocity</string>
	<key>immutableHistogramPosition</key>
	<string>independentLayerValidation</string>
	<key>mediocreExponentBottom</key>
	<string>interfaceCompositeVelocity</string>
	<key>mediumSinkEdge</key>
	<string>mapBridgePressure</string>
	<key>repositoryInterpreterResponse</key>
	<string>grainAdapterDirection</string>
	<key>retainedColumnStyle</key>
	<string>publicMapInterval</string>
	<key>subtleTransitionPosition</key>
	<string>reductionNumberFrequency</string>
	<key>widgetInMemento</key>
	<string>checklistOfSingleton</string>
</dict>
</plist>
