<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoGroupScale</key>
	<string>signatureSystemTheme</string>
	<key>capsuleBeyondMode</key>
	<string>unaryFunctionScale</string>
	<key>cycleWorkMomentum</key>
	<string>permissiveGiftTheme</string>
	<key>featureEnvironmentCoord</key>
	<string>subsequentIntensityDepth</string>
	<key>loopOutsidePhase</key>
	<string>resolverAtSingleton</string>
	<key>playbackFormSaturation</key>
	<string>sliderIncludeTier</string>
	<key>promiseVisitorFlags</key>
	<string>chapterNumberBehavior</string>
	<key>richtextWithMediator</key>
	<string>streamSinceAction</string>
	<key>utilUntilPlatform</key>
	<string>reductionPrototypePadding</string>
</dict>
</plist>
