<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionChainMomentum</key>
	<string>subpixelAlongScope</string>
	<key>asyncButtonBound</key>
	<string>allocatorForChain</string>
	<key>blocAndPhase</key>
	<string>cycleVersusProcess</string>
	<key>borderAsCommand</key>
	<string>completionJobRate</string>
	<key>capacitiesForSingleton</key>
	<string>bitrateContextResponse</string>
	<key>cupertinoWithNumber</key>
	<string>lossMediatorHue</string>
	<key>localToolPressure</key>
	<string>originalTransitionAlignment</string>
	<key>progressbarLevelBottom</key>
	<string>sinkKindStatus</string>
	<key>relationalScaleTail</key>
	<string>permanentFeatureOrigin</string>
	<key>widgetAmongTier</key>
	<string>curveValueOrientation</string>
</dict>
</plist>
