<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitThanType</key>
	<string>callbackObserverColor</string>
	<key>buttonAboutSingleton</key>
	<string>dependencyTempleTop</string>
	<key>curveLayerOpacity</key>
	<string>cellActionBrightness</string>
	<key>largeTextDistance</key>
	<string>pointVisitorTransparency</string>
	<key>materialSliderLocation</key>
	<string>asyncDecorationAcceleration</string>
	<key>mediaLikeMediator</key>
	<string>completionOfLevel</string>
	<key>metadataShapeHead</key>
	<string>tickerDespiteStrategy</string>
	<key>requestValueStatus</key>
	<string>projectIncludeState</string>
	<key>vectorNumberFlags</key>
	<string>localLocalizationDistance</string>
</dict>
</plist>
