<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAnimationColor</key>
	<string>switchOperationTop</string>
	<key>commandCommandInset</key>
	<string>presenterForAdapter</string>
	<key>controllerMediatorPressure</key>
	<string>intensityThanState</string>
	<key>equalizationPhaseMomentum</key>
	<string>managerProxyDistance</string>
	<key>giftAndVariable</key>
	<string>intuitiveCallbackBrightness</string>
	<key>inheritedRouterDuration</key>
	<string>gateAroundState</string>
	<key>mobileWithoutKind</key>
	<string>animatedNotifierContrast</string>
	<key>widgetCycleTop</key>
	<string>eventViaFramework</string>
</dict>
</plist>
