<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaWithoutBridge</key>
	<string>subscriptionAmongType</string>
	<key>crudeNodeHead</key>
	<string>commandAmongValue</string>
	<key>easySwiftCenter</key>
	<string>lostAllocatorEdge</string>
	<key>geometricServiceBehavior</key>
	<string>interactorWithoutTemple</string>
	<key>smallTaskSkewx</key>
	<string>invisibleIconSize</string>
	<key>standaloneObserverTension</key>
	<string>unaryJobOrientation</string>
	<key>uniqueConstraintPadding</key>
	<string>labelContainBridge</string>
</dict>
</plist>
