<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertModeColor</key>
	<string>progressbarBeyondStyle</string>
	<key>appbarEnvironmentPadding</key>
	<string>awaitAtStructure</string>
	<key>brushJobEdge</key>
	<string>advancedStatelessStyle</string>
	<key>builderFormHead</key>
	<string>concurrentChecklistBrightness</string>
	<key>dropdownbuttonValuePadding</key>
	<string>prevRadiusDistance</string>
	<key>localCompositionTransparency</key>
	<string>chartAroundDecorator</string>
	<key>resourceTypeInteraction</key>
	<string>modelKindType</string>
	<key>sizeJobRate</key>
	<string>featureFormFormat</string>
</dict>
</plist>
