<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAboutCycle</key>
	<string>deferredVectorBottom</string>
	<key>denseChallengePressure</key>
	<string>marginDecoratorShade</string>
	<key>inkwellForPrototype</key>
	<string>ignoredAsyncTint</string>
	<key>opaqueDrawerMomentum</key>
	<string>elasticContainerLocation</string>
	<key>pivotalDelegateTension</key>
	<string>constHandlerHue</string>
	<key>resilientRouteSkewx</key>
	<string>usedRowTension</string>
	<key>scrollableCompositionDuration</key>
	<string>utilDuringMethod</string>
	<key>textStateAcceleration</key>
	<string>hierarchicalContainerTint</string>
</dict>
</plist>
