<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianColumnStatus</key>
	<string>usagePlatformHue</string>
	<key>denseDescriptorStatus</key>
	<string>callbackCommandDuration</string>
	<key>durationInterpreterAppearance</key>
	<string>multiSingletonName</string>
	<key>layerMementoContrast</key>
	<string>methodWithoutProxy</string>
	<key>protectedMatrixVisibility</key>
	<string>entityTaskAlignment</string>
	<key>roleAsKind</key>
	<string>chartSinceFramework</string>
	<key>singletonBufferLocation</key>
	<string>granularOptimizerRate</string>
	<key>specifyStreamVisibility</key>
	<string>controllerPrototypeRotation</string>
	<key>statelessGraphMargin</key>
	<string>exceptionUntilStyle</string>
	<key>titleSingletonOpacity</key>
	<string>unaryPhaseState</string>
</dict>
</plist>
