<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGroupOffset</key>
	<string>enabledHandlerCount</string>
	<key>displayableControllerDensity</key>
	<string>utilActivityTail</string>
	<key>listenerCycleBorder</key>
	<string>notificationLikeState</string>
	<key>managerPerFramework</key>
	<string>descriptionContainInterpreter</string>
	<key>sortedInterfaceTop</key>
	<string>fusedAsyncRate</string>
	<key>tappableNormSkewy</key>
	<string>remainderInsideStrategy</string>
</dict>
</plist>
