<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderMethodShade</key>
	<string>curveNumberState</string>
	<key>persistentPointValidation</key>
	<string>hardOperationLeft</string>
	<key>storageInsideChain</key>
	<string>matrixStructureCount</string>
	<key>textureVarVelocity</key>
	<string>activatedCheckboxForce</string>
	<key>widgetTempleDepth</key>
	<string>accessibleStateContrast</string>
</dict>
</plist>
