<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorInStage</key>
	<string>tensorCupertinoHead</string>
	<key>captionFrameworkEdge</key>
	<string>alphaVarMode</string>
	<key>consumerInsideStrategy</key>
	<string>boxshadowContextTail</string>
	<key>cosineNumberTail</key>
	<string>awaitMementoEdge</string>
	<key>curveMethodRight</key>
	<string>uniqueStreamTransparency</string>
	<key>eventInPlatform</key>
	<string>painterStyleBrightness</string>
	<key>extensionMethodLocation</key>
	<string>rowProxyVisibility</string>
	<key>fusedNotificationInterval</key>
	<string>containerTempleSpacing</string>
	<key>granularServiceInterval</key>
	<string>mediumConfigurationTheme</string>
	<key>sizePlatformMomentum</key>
	<string>baselineModeBrightness</string>
</dict>
</plist>
