<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistModeRight</key>
	<string>containerNearPattern</string>
	<key>comprehensiveFactoryDelay</key>
	<string>modulusExceptLayer</string>
	<key>dedicatedSubscriptionKind</key>
	<string>promiseCompositeTheme</string>
	<key>displayableSizeOrientation</key>
	<string>materialTaskSize</string>
	<key>lastCommandPressure</key>
	<string>modelFromProcess</string>
	<key>movementFunctionDistance</key>
	<string>builderAroundContext</string>
	<key>scaffoldTierVelocity</key>
	<string>referenceOfEnvironment</string>
	<key>utilAndFramework</key>
	<string>comprehensiveGroupCoord</string>
</dict>
</plist>
