<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionMemberLeft</key>
	<string>observerActivityDepth</string>
	<key>futurePhaseDistance</key>
	<string>associatedNormCoord</string>
	<key>nativeControllerFrequency</key>
	<string>completerVersusPlatform</string>
	<key>newestChannelDistance</key>
	<string>baseInChain</string>
	<key>nodeAsStrategy</key>
	<string>rectLevelFeedback</string>
	<key>precisionContainBridge</key>
	<string>navigatorWithoutLevel</string>
	<key>queryBufferBehavior</key>
	<string>curveStageEdge</string>
	<key>reducerTaskAcceleration</key>
	<string>completerEnvironmentDepth</string>
	<key>richtextScopeSpeed</key>
	<string>declarativeRequestBrightness</string>
	<key>subscriptionForPhase</key>
	<string>assetIncludePrototype</string>
</dict>
</plist>
