<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAboutChain</key>
	<string>particleAroundStructure</string>
	<key>constraintWorkTheme</key>
	<string>grayscalePhaseVisibility</string>
	<key>getxStrategySaturation</key>
	<string>unactivatedListenerRate</string>
	<key>inheritedApertureStyle</key>
	<string>priorityFormMargin</string>
	<key>logFlyweightSkewx</key>
	<string>spriteOrDecorator</string>
	<key>metadataLayerStyle</key>
	<string>nodeAlongEnvironment</string>
	<key>previewInPhase</key>
	<string>sinkActionCount</string>
	<key>riverpodProcessRotation</key>
	<string>inkwellPerProxy</string>
</dict>
</plist>
