<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianFragmentInteraction</key>
	<string>fragmentBridgeContrast</string>
	<key>consultativeModelTransparency</key>
	<string>slashDuringStrategy</string>
	<key>euclideanCustompaintAlignment</key>
	<string>globalTimerAppearance</string>
	<key>getxAtComposite</key>
	<string>taskSingletonLocation</string>
	<key>utilBridgeDensity</key>
	<string>descriptionInsideStyle</string>
</dict>
</plist>
